.team-list-container {
  color: white;
  padding: 50px 0;
  text-align: center;

  p {
    margin-bottom: 13px;
  }

  h1, h2, h3 {
    color: #3b7ae4;
  }

  .team-list {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 30px;
    //margin: 0 auto;
    //max-width: 600px;

    .head {
      margin-bottom: 40px;
    }

    .department {
      margin-bottom: 30px;

      h3 {
        text-transform: capitalize;
      }

      &.chief span {
        text-transform: capitalize;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
