/*
    background-image: url("images/background.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
*/

#hero-artwork
{
    overflow: hidden;
    z-index: -1;
}

#hero-artwork,
#hero-artwork > *
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#hero-artwork > .background
{
    background-image: url("../images/hero-artwork/background.jpg");
/*
    background-color: hsla(0, 0%, 50%, 1);
    background-blend-mode: hard-light;
    animation: color-fluctuate 30s linear 1s infinite;
*/
}

@keyframes color-fluctuate 
{
	0%   { background-color: hsla(0, 0%, 50%, 1); }
	10%  { background-color: hsla(0, 0%, 40%, 1); }
	12%  { background-color: hsla(0, 0%, 60%, 1); }
	15%  { background-color: hsla(0, 0%, 30%, 1); }
	60%  { background-color: hsla(0, 0%, 60%, 1); }
	90%  { background-color: hsla(0, 0%, 30%, 1); }
	92%  { background-color: hsla(0, 0%, 60%, 1); }
	95%  { background-color: hsla(0, 0%, 30%, 1); }
	100% { background-color: hsla(0, 0%, 50%, 1); }
}


#hero-artwork > .smoke
{
    background-image: url("../images/hero-artwork/smoke.png");
    background-size: auto 100%;
    opacity: 0.2;
    background-position: 0vh 0;
    background-repeat: repeat-x;
    animation: smoke-scroll 60s linear 1s infinite;
}

@keyframes smoke-scroll 
{
	0%   { background-position: 0vh 0; }
	100% { background-position: 95vh 0; }
}


#hero-artwork > .first-plane
{
    background-image: url("../images/hero-artwork/first-plane.png");
}
