#languages
{
    position: absolute;
    right: 5vh;
    top: 3vh;
}

#languages > *
{
    display: inline-block;
    width: 2em;
    height: 2em;
    text-indent: -9999px;
    overflow: hidden;
    background-size: cover;
    position: relative;
    box-shadow: 0.1em 0.3em 0.5em 0.1em black;
    border-radius: 0.2em;
    
    top: 0em;
    opacity: 0.7;
    transition: top 0.3s, opacity 0.3s;
}

#languages > *:hover
{
    opacity: 1;
    top: 0em;
}

#languages > #language-pl
{
    background-image: url(../images/icon-language-pl.png);
}

#languages > #language-en
{
    background-image: url(../images/icon-language-en.png);
}

#languages > #language-de
{
    background-image: url(../images/icon-language-de.png);
}

#languages > #language-ru
{
    background-image: url(../images/icon-language-ru.png);
}

#languages > #language-sk
{
    background-image: url(../images/icon-language-sk.png);
}

#languages > #language-it
{
    background-image: url(../images/icon-language-it.png);
}

#languages > #language-cz
{
    background-image: url(../images/icon-language-cz.png);
}

#languages > #language-es
{
    background-image: url(../images/icon-language-es.png);
}
