@font-face {
  font-family: "Lusitana";
  src: url("Lusitana-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lusitana";
  src: url("Lusitana-Bold.ttf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Lusitana";
  src: url("Lusitana-Italic.ttf") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Lusitana";
  src: url("Lusitana-BoldItalic.ttf") format("opentype");
  font-style: italic;
  font-weight: bold;
}
