#social-media
{
    position: absolute;
    left: 5vh;
    top: 3vh;
}

#social-media > *
{
    display: inline-block;
    width: 2em;
    height: 2em;
    text-indent: -9999px;
    overflow: hidden;
    background-size: cover;
    position: relative;
    box-shadow: 0.1em 0.3em 0.5em 0.1em black;
    border-radius: 0.2em;
    
    top: 0em;
    opacity: 0.7;
    transition: top 0.3s, opacity 0.3s;
}

#social-media > *:hover
{
    opacity: 1;
    top: 0em;
}

#social-media > #youtube
{
    background-image: url(../images/icon-yt.png);
}

#social-media > #moddb
{
    background-image: url(../images/icon-moddb.png);
}

#social-media > #facebook
{
    background-image: url(../images/icon-fb.png);
}

#social-media > #themodders
{
    background-image: url(../images/icon-tm.png);
}

#social-media > #github
{
    background-image: url(../images/icon-github.png);
}