
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


html {
  @media (min-width: 1800px) {
    font-size: 22px;
  }

  @media (min-width: 2400px) {
    font-size: 30px;
  }
}

body {
  margin: 0;
  word-wrap: break-word;
  font-family: 'Cuprum', sans-serif;
  overflow-x: hidden;
}

.container {
  width: auto;
  padding: 0;
  margin: 0 auto;

  @media (min-width: 1380px) {
    max-width: 1130px;
  }

  @media (min-width: 1800px) {
    max-width: 1560px;
  }

  @media (min-width: 2400px) {
    max-width: 2000px;
  }

  @media (max-width: 1379px) {
    max-width: 1050px;
  }
  @media (max-width: 1240px) {
    padding: 0 50px;
  }
  @media (max-width: 1080px) {
    padding: 0 20px;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}

a:active,
a:hover {
  outline-width: 0;
}

h1, h2, h3, h4, h5, h6, .feature {
  font-family: 'Metamorphous', 'Alegreya', cursive;
  font-weight: 400;
}

.headings {
  font-size: 2rem;
  letter-spacing: 0.01rem;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1em;

  @media (max-width: 600px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  padding-bottom: 0.7em;

  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 0.7em;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.1rem;
  padding-bottom: 0.7em;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 57%;

  .video-holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
