.gallery ul.gallery-images--ul {
  display: block;
}
.gallery .gallery-photos {
  max-width: 125vh !important;
}

#videos {
  .video-and-media-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 4px 4px;
    //background-color: rgba(0, 0, 0, 0.8);

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .item {
      transition: all .5s ease-in-out;
      cursor: pointer;
      //border: 1px solid black;

      .item-wrapper {
        padding-bottom: 65%;
        position: relative;

        .item-container {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-size: cover;
          background-position: center;

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }

      &:not(.video) {
        &:hover {
          transform: scale(1.1);
          z-index: 1;
        }
      }
    }
  }
}
